/* line 1, ../sass/apiary.sass */
.current-section-title {
  background: #ffd800;
  padding: 5px 10px;
  font-size: 18px;
  color: black;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  border-radius: 5px;
  position: relative;
  top: -3px;
}

/* line 15, ../sass/apiary.sass */
#page-apiary a {
  text-decoration: none;
}
/* line 18, ../sass/apiary.sass */
#page-apiary a:hover {
  text-decoration: underline;
}
/* line 21, ../sass/apiary.sass */
#page-apiary .group {
  height: 167px;
  position: relative;
  width: 625px;
  background: url(../../images/apiary/groupbg.png) left top no-repeat;
  cursor: pointer;
  margin-bottom: 15px;
}
/* line 29, ../sass/apiary.sass */
#page-apiary .group:hover {
  background: url(../../images/apiary/groupbg.png) left -164px no-repeat;
}
/* line 32, ../sass/apiary.sass */
#page-apiary .group:hover .stat-title {
  color: #363636 !important;
}
/* line 36, ../sass/apiary.sass */
#page-apiary .group .title {
  color: #363636;
  font-size: 20px;
  position: absolute;
  left: 215px;
  top: 12px;
}
/* line 43, ../sass/apiary.sass */
#page-apiary .group .count {
  position: absolute;
  right: 2px;
  color: #3193ff;
  font-size: 15px;
  top: 13px;
}
/* line 50, ../sass/apiary.sass */
#page-apiary .group .image {
  position: absolute;
  left: 35px;
  top: 20px;
}
/* line 55, ../sass/apiary.sass */
#page-apiary .group .stats {
  position: absolute;
  right: 15px;
  top: 55px;
  width: 420px;
}
/* line 61, ../sass/apiary.sass */
#page-apiary .group .stats .stat-item {
  margin-bottom: 10px;
  text-align: right;
}
/* line 65, ../sass/apiary.sass */
#page-apiary .group .stats .stat-item .stat-title {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  color: white;
  font-size: 14px;
  width: 200px;
  margin-right: 10px;
  padding-top: 6px;
}
/* line 75, ../sass/apiary.sass */
#page-apiary .group .stats .stat-item .stat-value {
  width: 200px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  color: #3193ff;
  text-align: center;
  padding: 5px 0px;
  font-size: 15px;
}
/* line 86, ../sass/apiary.sass */
#page-apiary table.system {
  border: 1px solid lightgrey;
  width: 100%;
}
/* line 91, ../sass/apiary.sass */
#page-apiary table.system thead th {
  text-align: center;
  font-weight: bold;
  border: 1px solid lightgrey;
  padding: 5px;
  vertical-align: middle;
}
/* line 100, ../sass/apiary.sass */
#page-apiary table.system tbody tr td {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 5px;
  vertical-align: middle;
}
/* line 106, ../sass/apiary.sass */
#page-apiary table.system tbody tr td a {
  color: #3193ff;
}
/* line 109, ../sass/apiary.sass */
#page-apiary .hive, #page-apiary .warehouse {
  position: relative;
  background: url(../../images/apiary/cardbg.png) left top no-repeat;
  height: 268px;
  margin-bottom: 20px;
}
/* line 115, ../sass/apiary.sass */
#page-apiary .hive .upgrade, #page-apiary .warehouse .upgrade {
  cursor: pointer;
  position: absolute;
  background: url(../../images/apiary/upgrade.png) left top no-repeat;
  width: 129px;
  height: 19px;
  padding: 9px;
  font-size: 15px;
  font-weight: bold;
  color: #ffe400;
  right: 5px;
  top: 2px;
}
/* line 128, ../sass/apiary.sass */
#page-apiary .hive .image, #page-apiary .warehouse .image {
  position: absolute;
  left: 15px;
  top: 10px;
}
/* line 133, ../sass/apiary.sass */
#page-apiary .hive .title, #page-apiary .warehouse .title {
  position: absolute;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  right: 175px;
  top: 11px;
  color: white;
}
/* line 142, ../sass/apiary.sass */
#page-apiary .hive .title .capacity, #page-apiary .warehouse .title .capacity {
  color: #ffe400;
}
/* line 145, ../sass/apiary.sass */
#page-apiary .hive .details, #page-apiary .warehouse .details {
  position: absolute;
  text-align: right;
  right: 15px;
  top: 55px;
  font-size: 15px;
  color: #37383a;
}
/* line 155, ../sass/apiary.sass */
#page-apiary .hive .details .content .progress-wrapper, #page-apiary .warehouse .details .content .progress-wrapper {
  position: relative;
  top: -5px;
  height: 27px;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
/* line 166, ../sass/apiary.sass */
#page-apiary .hive .details .content .progress-wrapper .fill-progress, #page-apiary .warehouse .details .content .progress-wrapper .fill-progress {
  height: 27px;
  width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  background-color: #ffd800;
}
/* line 175, ../sass/apiary.sass */
#page-apiary .hive .details .content .progress-wrapper .content-label, #page-apiary .warehouse .details .content .progress-wrapper .content-label {
  width: 150px;
  color: #37383a;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 4px 0px;
}
/* line 183, ../sass/apiary.sass */
#page-apiary .hive .details .production, #page-apiary .warehouse .details .production {
  margin-top: 5px;
  font-size: 13px;
}
/* line 187, ../sass/apiary.sass */
#page-apiary .hive .details .hive-auto-collector, #page-apiary .warehouse .details .hive-auto-collector {
  margin-top: 15px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 231px;
  height: 75px;
  background: url(../../images/apiary/autocollector.png) left -75px no-repeat;
}
/* line 196, ../sass/apiary.sass */
#page-apiary .hive .details .hive-auto-collector.active, #page-apiary .warehouse .details .hive-auto-collector.active {
  background: url(../../images/apiary/autocollector.png) left top no-repeat;
}
/* line 199, ../sass/apiary.sass */
#page-apiary .hive .details .collect, #page-apiary .warehouse .details .collect {
  margin-top: 25px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 131px;
  height: 33px;
  background: url(../../images/apiary/collect.png) left top no-repeat;
}
/* line 208, ../sass/apiary.sass */
#page-apiary .hive .details .collect:hover, #page-apiary .warehouse .details .collect:hover {
  background: url(../../images/apiary/collect.png) left -33px no-repeat;
}
/* line 211, ../sass/apiary.sass */
#page-apiary .hive .details .load-to-transport, #page-apiary .warehouse .details .load-to-transport {
  margin-top: 135px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 214px;
  height: 33px;
  background: url(../../images/apiary/load.png) left top no-repeat;
}
/* line 220, ../sass/apiary.sass */
#page-apiary .hive .details .load-to-transport:hover, #page-apiary .warehouse .details .load-to-transport:hover {
  background: url(../../images/apiary/load.png) left top no-repeat;
}
