/* line 1, ../sass/layout.sass */
body {
  font-family: Tahoma;
  font-size: 12px;
  color: #295673;
  background: url(../../images/layout/bg.jpg);
}
/* line 7, ../sass/layout.sass */
body a {
  color: #3193ff;
}
/* line 10, ../sass/layout.sass */
body #header {
  height: 457px;
  background: url(../../images/layout/header.png) center top no-repeat;
}
/* line 14, ../sass/layout.sass */
body #header #header-content {
  position: relative;
  width: 1280px;
  margin: 0px auto;
}
/* line 19, ../sass/layout.sass */
body #header #header-content #top-bee {
  position: absolute;
  width: 119px;
  height: 120px;
  background: url(../../images/layout/bee.png) no-repeat;
  left: 600px;
  top: 30px;
}
/* line 27, ../sass/layout.sass */
body #header #header-content #top-uley {
  position: absolute;
  width: 235px;
  height: 149px;
  background: url(../../images/layout/uley.png) no-repeat;
  left: 945px;
  top: 179px;
  cursor: pointer;
}
/* line 36, ../sass/layout.sass */
body #header #header-content #players-callout {
  position: absolute;
  width: 207px;
  height: 120px;
  background: url(../../images/layout/player-callout.png) no-repeat;
  left: 970px;
  top: 70px;
}
/* line 44, ../sass/layout.sass */
body #header #header-content #players-callout .value {
  font-size: 21px;
  color: #ffd800;
  text-align: center;
  margin-top: 45px;
  font-weight: bold;
}
/* line 51, ../sass/layout.sass */
body #header #header-content #bank-callout {
  position: absolute;
  width: 320px;
  height: 119px;
  background: url(../../images/layout/bank-callout.png) no-repeat;
  left: 650px;
  top: 135px;
}
/* line 59, ../sass/layout.sass */
body #header #header-content #bank-callout .value {
  font-size: 36px;
  color: #ffd800;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  margin-right: 50px;
}
/* line 67, ../sass/layout.sass */
body #header #header-content #main-menu {
  position: absolute;
  width: auto;
  top: 377px;
  left: 390px;
}
/* line 74, ../sass/layout.sass */
body #header #header-content #main-menu ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}
/* line 79, ../sass/layout.sass */
body #header #header-content #main-menu ul li a {
  color: white;
  font-size: 15px;
}
/* line 83, ../sass/layout.sass */
body #header #header-content #main-menu ul li a:hover {
  text-decoration: underline;
}
/* line 86, ../sass/layout.sass */
body #header #header-content #login-button {
  position: absolute;
  width: 198px;
  height: 61px;
  background: url(../../images/layout/login.png) left top no-repeat;
  top: 355px;
  left: 945px;
  cursor: pointer;
  display: block;
}
/* line 96, ../sass/layout.sass */
body #header #header-content #login-button:hover {
  background: url(../../images/layout/login.png) left -60px no-repeat;
}
/* line 99, ../sass/layout.sass */
body #header #header-content #logout-button {
  position: absolute;
  width: 62px;
  height: 61px;
  background: url(../../images/layout/logout.png) left top no-repeat;
  top: 355px;
  left: 1085px;
  cursor: pointer;
}
/* line 107, ../sass/layout.sass */
body #header #header-content #logout-button:hover {
  background: url(../../images/layout/logout.png) left -61px no-repeat;
}
/* line 110, ../sass/layout.sass */
body #header #header-content #money-button {
  position: absolute;
  width: 157px;
  height: 49px;
  background: url(../../images/layout/money.png) left top no-repeat;
  top: 362px;
  left: 927px;
  cursor: pointer;
}
/* line 119, ../sass/layout.sass */
body #header #header-content #money-button:hover {
  background: url(../../images/layout/money.png) left -48px no-repeat;
}
/* line 125, ../sass/layout.sass */
body #content #content-wrapper {
  width: 1280px;
  margin: 0px auto;
}
/* line 129, ../sass/layout.sass */
body #content #content-wrapper #content-inner {
  width: 1000px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: -35px;
}
/* line 136, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder {
  width: 620px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 55px;
  padding-top: 15px;
}
/* line 144, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static {
  padding-top: 5px;
}
/* line 147, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static #page-title {
  font-size: 22px;
  color: #295673;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffeb4b;
  padding-top: 15px;
}
/* line 155, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content {
  margin: 15px 0px;
}
/* line 158, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content .field {
  margin-bottom: 15px;
}
/* line 161, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content .field .label {
  margin-bottom: 5px;
}
/* line 165, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content .field .editor input[type='text'], body #content #content-wrapper #content-inner #content-holder #page-static .page-content .field .editor input[type='password'] {
  border: 1px solid lightgrey;
  padding: 3px;
  width: 250px;
}
/* line 170, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content .field .editor label.error {
  color: red;
  margin-left: 5px;
}
/* line 174, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content #reg-submit {
  border: 0;
  margin-top: 5px;
  width: 105px;
  height: 34px;
  background: url(../../images/layout/regbutton.png) left top no-repeat;
  cursor: pointer;
  margin-left: 10px;
}
/* line 183, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content #reg-submit:hover {
  background: url(../../images/layout/regbutton.png) left -35px no-repeat;
}
/* line 188, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content #page-shop b {
  font-weight: bold;
}
/* line 193, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content #page-shop ul li {
  margin: 5px 0px;
}
/* line 196, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content #page-shop ul a {
  color: #3193ff;
}
/* line 199, ../sass/layout.sass */
body #content #content-wrapper #content-inner #content-holder #page-static .page-content #page-shop ul a:hover {
  text-decoration: underline;
}
/* line 204, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 10px;
  width: 293px;
  height: 457px;
  background: url(../../images/layout/accontbg.png) left top no-repeat;
  margin-left: 28px;
}
/* line 214, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account {
  padding: 20px 25px;
  text-align: left;
}
/* line 218, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #profile-card {
  width: 30px;
  height: 21px;
  cursor: pointer;
  background: url(../../images/layout/profile-card.png);
}
/* line 224, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #profile-settings {
  height: 23px;
  width: 22px;
  cursor: pointer;
  background: url(../../images/layout/profile-settings.png);
}
/* line 230, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #profile-settings:hover {
  background: url(../../images/layout/profile-settings-active.png) !important;
}
/* line 234, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .login {
  font-size: 30px;
  color: #fffd5c;
  text-align: center;
}
/* line 239, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .position {
  margin-top: 10px;
  color: white;
  font-size: 12px;
  text-align: center;
}
/* line 245, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .position b {
  font-weight: bold;
}
/* line 248, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .avatar {
  display: inline-block;
  vertical-align: top;
  width: 116px;
  height: 116px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  margin-right: 7px;
}
/* line 261, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .avatar img {
  width: 116px;
  height: auto;
  min-height: 116px;
}
/* line 268, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .resources {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin-top: 20px;
  text-align: left;
  color: #fffd5c;
  font-size: 15px;
}
/* line 277, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .resources div {
  padding: 3px;
  padding-left: 32px;
  margin-bottom: 10px;
}
/* line 282, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .resources .coins {
  background: url(../../images/layout/coins.png) left center no-repeat;
}
/* line 285, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .resources .honey {
  background: url(../../images/layout/honey.png) left center no-repeat;
}
/* line 288, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account .resources .bars {
  background: url(../../images/layout/bars.png) left center no-repeat;
}
/* line 293, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #account-menu {
  clear: both;
  text-align: center;
  margin-top: 20px;
}
/* line 298, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #account-menu li {
  padding: 5px;
  position: relative;
}
/* line 302, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #account-menu li .bee {
  position: absolute;
  right: -10px;
  bottom: -15px;
  display: none;
  width: 63px;
  height: 63px;
  background: url(../../images/layout/accountbee.png) left top no-repeat;
}
/* line 311, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #account-menu li:hover, body #content #content-wrapper #content-inner #account-block #account #account-menu li.active {
  background-color: #81cfff;
  border-radius: 15px;
}
/* line 316, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #account-menu li:hover .bee {
  display: block;
}
/* line 320, ../sass/layout.sass */
body #content #content-wrapper #content-inner #account-block #account #account-menu li a {
  color: white;
  font-size: 15px;
}
/* line 328, ../sass/layout.sass */
body #footer {
  height: 122px;
  background: url(../../images/layout/footer.png) center top no-repeat;
}
/* line 332, ../sass/layout.sass */
body #footer #copyrights {
  padding-top: 40px;
  font-size: 15px;
  color: white;
  text-align: center;
}
/* line 338, ../sass/layout.sass */
body #dialog-overlay {
  display: none;
  position: fixed;
  background-color: black;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  z-index: 99;
}
/* line 347, ../sass/layout.sass */
body #login-dialog {
  position: absolute;
  z-index: 100;
  width: 471px;
  height: 554px;
  display: none;
  background: url(../../images/layout/loginbg.png) left top no-repeat;
}
/* line 355, ../sass/layout.sass */
body #login-dialog #login-wrapper {
  padding-left: 125px;
  padding-top: 186px;
}
/* line 359, ../sass/layout.sass */
body #login-dialog #login-wrapper .title {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
/* line 364, ../sass/layout.sass */
body #login-dialog #login-wrapper .social {
  margin: 20px 0px;
}
/* line 367, ../sass/layout.sass */
body #login-dialog #login-wrapper .field {
  margin-bottom: 20px;
}
/* line 370, ../sass/layout.sass */
body #login-dialog #login-wrapper .field .field {
  margin-bottom: 5px;
  color: black;
  font-size: 13px;
}
/* line 376, ../sass/layout.sass */
body #login-dialog #login-wrapper .field .editor input[type='text'], body #login-dialog #login-wrapper .field .editor input[type='password'] {
  border: 1px solid lightgrey;
  padding: 5px;
}
/* line 380, ../sass/layout.sass */
body #login-dialog #login-wrapper input[type='submit'] {
  border: 0;
  margin-top: 5px;
  width: 62px;
  height: 34px;
  background: url(../../images/layout/loginbutton.png) left top no-repeat;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
/* line 391, ../sass/layout.sass */
body #login-dialog #login-wrapper input[type='submit']:hover {
  background: url(../../images/layout/loginbutton.png) left -35px no-repeat;
}
/* line 394, ../sass/layout.sass */
body #login-dialog #login-wrapper .register-action {
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin-top: 5px;
  width: 105px;
  height: 34px;
  background: url(../../images/layout/regbutton.png) left top no-repeat;
  cursor: pointer;
  margin-left: 10px;
}
/* line 405, ../sass/layout.sass */
body #login-dialog #login-wrapper .register-action:hover {
  background: url(../../images/layout/regbutton.png) left -35px no-repeat;
}
/* line 408, ../sass/layout.sass */
body #login-dialog #login-wrapper #restore-wrapper {
  margin-top: 20px;
  margin-left: 50px;
}
/* line 412, ../sass/layout.sass */
body #login-dialog #login-wrapper #restore-wrapper a {
  color: #007ca8;
}
/* line 415, ../sass/layout.sass */
body #login-dialog #login-wrapper #restore-wrapper a:hover {
  text-decoration: underline;
}
/* line 418, ../sass/layout.sass */
body #card-dialog {
  position: absolute;
  display: none;
  position: fixed;
  width: 250px;
  height: 100px;
}
