/* line 1, ../sass/main.sass */
#page-main {
  padding-top: 5px;
}
/* line 4, ../sass/main.sass */
#page-main .title {
  font-size: 22px;
  color: #295673;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #ffeb4b;
  padding-top: 10px;
}
/* line 13, ../sass/main.sass */
#page-main .text {
  font-size: 14px;
  color: #295673;
  text-align: justify;
  line-height: 1.5;
  margin: 15px;
  margin-bottom: 25px;
}
/* line 21, ../sass/main.sass */
#page-main #front-menu {
  display: inline-block;
  vertical-align: top;
  width: 613px;
  text-align: center;
  position: relative;
}
/* line 28, ../sass/main.sass */
#page-main #front-menu .upper {
  width: 613px;
  height: 69px;
  background: url(../../images/main/lower.png) center top no-repeat;
  position: absolute;
}
/* line 34, ../sass/main.sass */
#page-main #front-menu #info-cell {
  width: 203px;
  height: 232px;
  background: url(../../images/main/info.png) left top no-repeat;
  cursor: pointer;
  float: left;
  margin-top: 16px;
}
/* line 42, ../sass/main.sass */
#page-main #front-menu #info-cell:hover {
  background: url(../../images/main/info-active.png) left top no-repeat;
}
/* line 45, ../sass/main.sass */
#page-main #front-menu #how-cell {
  float: left;
  width: 206px;
  height: 232px;
  background: url(../../images/main/how.png) left top no-repeat;
  cursor: pointer;
  margin-top: 16px;
}
/* line 53, ../sass/main.sass */
#page-main #front-menu #how-cell:hover {
  background: url(../../images/main/how-active.png) left top no-repeat;
}
/* line 56, ../sass/main.sass */
#page-main #front-menu #play-cell {
  float: left;
  width: 204px;
  height: 232px;
  background: url(../../images/main/play.png) left top no-repeat;
  cursor: pointer;
  margin-top: 16px;
}
/* line 64, ../sass/main.sass */
#page-main #front-menu #play-cell:hover {
  background: url(../../images/main/play-active.png) left top no-repeat;
}
/* line 67, ../sass/main.sass */
#page-main #front-menu .lower {
  width: 613px;
  height: 69px;
  clear: both;
  position: absolute;
  background: url(../../images/main/upper.png) center top no-repeat;
  top: 195px;
}

/* line 76, ../sass/main.sass */
#feedback #feedback-info {
  display: inline-block;
  vertical-align: top;
  width: 356px;
  padding-top: 35px;
  font-size: 15px;
  color: #1e1e1e;
  line-height: 1.5;
}
/* line 85, ../sass/main.sass */
#feedback #feedback-fields {
  display: inline-block;
  vertical-align: top;
}
/* line 89, ../sass/main.sass */
#feedback #feedback-fields .field {
  margin-bottom: 10px;
}
/* line 92, ../sass/main.sass */
#feedback #feedback-fields .field .label {
  font-size: 14px;
  color: #51bcff;
  margin-bottom: 5px;
}
/* line 98, ../sass/main.sass */
#feedback #feedback-fields .field .editor input[type='text'] {
  border: 2px solid #5bc0ff !important;
  border-radius: 10px;
  padding: 10px 5px;
  width: 230px;
}
/* line 104, ../sass/main.sass */
#feedback #feedback-fields .field .editor input[type='text']:focus {
  background-color: #ffe149;
}
/* line 107, ../sass/main.sass */
#feedback #textarea-field {
  margin-top: 20px;
}
/* line 110, ../sass/main.sass */
#feedback #textarea-field .label {
  font-size: 14px;
  color: #51bcff;
  margin-bottom: 5px;
}
/* line 115, ../sass/main.sass */
#feedback #textarea-field .editor {
  background-color: #5dc1ff;
  border: 1px solid #5dc1ff;
  border-radius: 5px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* line 122, ../sass/main.sass */
#feedback #textarea-field .editor textarea {
  border-radius: 5px;
  padding: 5px;
  height: 180px;
  max-height: 180px;
  min-height: 180px;
  border: 0;
  width: 608px;
  min-width: 608px;
  max-width: 608px;
}
/* line 133, ../sass/main.sass */
#feedback #textarea-field .editor input[type='submit'] {
  width: 150px;
  height: 53px;
  cursor: pointer;
  background: url(../../images/main/submit-feedback.png);
  border: 0;
  margin: 10px;
}

/* line 148, ../sass/main.sass */
.static-text p {
  margin: 5px 0px;
  line-height: 1.5;
  text-align: justify;
}
/* line 153, ../sass/main.sass */
.static-text p a:hover {
  text-decoration: underline;
}
/* line 157, ../sass/main.sass */
.static-text p.title {
  font-weight: bold;
}
/* line 160, ../sass/main.sass */
.static-text p b {
  font-weight: bold;
}
