/* line 1, ../sass/messenger.sass */
#page-messenger {
  margin-top: 15px;
}
/* line 4, ../sass/messenger.sass */
#page-messenger #messenger-wrapper {
  margin-top: 15px;
}
/* line 7, ../sass/messenger.sass */
#page-messenger #messenger-wrapper #messenger-header {
  background: #ffe334;
  background: -moz-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe334), color-stop(100%, #f2cd1e));
  background: -webkit-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -o-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -ms-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: linear-gradient(to bottom, #ffe334 0%, #f2cd1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe334', endColorstr='#f2cd1e',GradientType=0 );
  padding: 10px 20px;
  padding-bottom: 7px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* line 21, ../sass/messenger.sass */
#page-messenger #messenger-wrapper #messenger-header .item {
  padding: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
  text-shadow: 1px 2px 3px #cd8108;
}
/* line 33, ../sass/messenger.sass */
#page-messenger #messenger-wrapper #messenger-header .item:hover, #page-messenger #messenger-wrapper #messenger-header .item.active {
  background-color: #3193ff;
  text-shadow: 2px 3px 3px #0b70de;
}
/* line 38, ../sass/messenger.sass */
#page-messenger #messenger-wrapper #messenger-content {
  background-color: #3193ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  color: white;
  min-height: 10px;
}
