/* line 1, ../sass/stats.sass */
#page-stats {
  margin-top: 15px;
}
/* line 4, ../sass/stats.sass */
#page-stats .page-title {
  font-size: 22px;
  color: #295673;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffeb4b;
  padding-top: 15px;
}
/* line 12, ../sass/stats.sass */
#page-stats .info {
  margin-top: 15px;
  text-align: center;
}
/* line 16, ../sass/stats.sass */
#page-stats #stats-wrapper {
  margin-top: 15px;
}
/* line 19, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-header {
  background: #ffe334;
  background: -moz-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe334), color-stop(100%, #f2cd1e));
  background: -webkit-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -o-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -ms-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: linear-gradient(to bottom, #ffe334 0%, #f2cd1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe334', endColorstr='#f2cd1e',GradientType=0 );
  padding: 10px 20px;
  padding-bottom: 7px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* line 33, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-header .item {
  padding: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
  text-shadow: 1px 2px 3px #cd8108;
}
/* line 45, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-header .item:hover, #page-stats #stats-wrapper #stats-header .item.active {
  background-color: #3193ff;
  text-shadow: 2px 3px 3px #0b70de;
}
/* line 50, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content {
  background-color: #3193ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  color: white;
}
/* line 57, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item {
  background: url(../../images/stats/separator.png) left bottom repeat-x;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 62, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .image {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  text-align: center;
}
/* line 68, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .title, #page-stats #stats-wrapper #stats-content .stat-item .measure {
  display: inline-block;
  vertical-align: top;
  width: 165px;
  text-align: right;
  font-size: 15px;
  color: white;
  margin-right: 5px;
  padding-top: 3px;
  margin-top: 5px;
}
/* line 79, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .measure {
  width: auto;
  text-align: right;
  margin-left: 5px;
}
/* line 84, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .value {
  display: inline-block;
  vertical-align: top;
  width: 215px;
  margin-top: 5px;
  padding: 5px;
  color: red;
  font-size: 15px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
/* line 96, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown {
  display: inline-block;
}
/* line 99, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block {
  display: inline-block;
  vertical-align: top;
}
/* line 103, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 43px;
  background: url(../../images/stats/digits-green.png) center top no-repeat;
}
/* line 110, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit1 {
  background: url(../../images/stats/digits-green.png) center -43px no-repeat;
}
/* line 113, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit2 {
  background: url(../../images/stats/digits-green.png) center -86px no-repeat;
}
/* line 116, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit3 {
  background: url(../../images/stats/digits-green.png) center -129px no-repeat;
}
/* line 119, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit4 {
  background: url(../../images/stats/digits-green.png) center -172px no-repeat;
}
/* line 122, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit5 {
  background: url(../../images/stats/digits-green.png) center -215px no-repeat;
}
/* line 125, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit6 {
  background: url(../../images/stats/digits-green.png) center -258px no-repeat;
}
/* line 128, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit7 {
  background: url(../../images/stats/digits-green.png) center -301px no-repeat;
}
/* line 131, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit8 {
  background: url(../../images/stats/digits-green.png) center -344px no-repeat;
}
/* line 134, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit.digit9 {
  background: url(../../images/stats/digits-green.png) center -387px no-repeat;
}
/* line 137, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-block .digit-block-label {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: white;
}
/* line 143, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content .stat-item .countdown .digit-separator {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: white;
  font-style: normal;
  font-weight: bold;
  height: 70px;
  line-height: 50px;
}
