/* line 1, ../sass/stats.sass */
#page-stats {
  margin-top: 15px;
}
/* line 4, ../sass/stats.sass */
#page-stats .page-title {
  font-size: 22px;
  color: #295673;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffeb4b;
  padding-top: 15px;
}
/* line 12, ../sass/stats.sass */
#page-stats .info {
  margin-top: 15px;
  text-align: center;
}
/* line 16, ../sass/stats.sass */
#page-stats #stats-wrapper {
  margin-top: 15px;
}
/* line 19, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-header {
  background: #ffe334;
  background: -moz-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe334), color-stop(100%, #f2cd1e));
  background: -webkit-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -o-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: -ms-linear-gradient(top, #ffe334 0%, #f2cd1e 100%);
  background: linear-gradient(to bottom, #ffe334 0%, #f2cd1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe334', endColorstr='#f2cd1e',GradientType=0 );
  padding: 10px 20px;
  padding-bottom: 7px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* line 33, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-header .item {
  padding: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}
/* line 45, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-header .item:hover, #page-stats #stats-wrapper #stats-header .item.active {
  background-color: #3193ff;
}
/* line 48, ../sass/stats.sass */
#page-stats #stats-wrapper #stats-content {
  background-color: #3193ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
