@model dynamic

@{
    ViewBag.Title = "Как играть";
    Layout = "../Shared/CommonLayout.cshtml";
}



<div class="static-text">
    <p class="title">
        Как играть в BEEPAS.RU
    </p>
    <p class="title">
        Цель игры:
    </p>
    <p>
        Организовать и развивать Ваш виртуальный «Пасечный бизнес», что бы быть уверенным в завтрашнем дне! Приобретите виртуальную пасеку и увеличивайте её производительность. Пасека  всегда будет Ваша, она навсегда закреплена за Вами! Каждые 5 минут получайте доход   до 50 процентов в месяц! Так же в игре реализована 3-х уровневая реферальная система, благодаря которой Вы сможете зарабатывать не только с приглашённых непосредственно Вами активных Участников, но и с 2-х последующих реферальных уровней.
    </p>
    <p class="title">
        Суть игры: 
    </p>
    <p>
        Пчёлы приносят мёд,  Вы его собираете на склад и накапливаете нужное количество, затем отправляете на биржу и обмениваете  на «Золото» для вывода средств из игры или для дальнейшего развития Вашего производства.
    </p>
    <p class="title">
        Основы игры:
    </p>
    <p>
        Основной валютой игры BEEPAS.RU является «Золото», которое бывает 2-х  видов:
    </p>
    <p>
        1. «GC» – «Golden Coin’s»  – «Золотые монеты» - валюта игры, которая используется для осуществления покупок в игре. 
    </p>
    <p>
        2. «GB» – «Golden Bar’s»  – «Золотые слитки» - валюта игры, которая используется для вывода средств из игры.
    </p>
    <p>
        «GC»  можно купить  за Российские рубли по курсу:  1 рубль = 100 GC, а так же получить на бирже, обменяв на них мёд  по курсу:  12 кг. мёда = 1GC либо, обменяв на них «GB» по курсу:  1 GB  = 100 GC;
    </p>
    <p>
        «GB» можно получить только на бирже обменяв на них мёд  по курсу:  1200 кг. мёда = 1 GB
    </p>
    <p>
        Вывод средств происходит путём обмена  «GB» на Российские рубли по курсу:  1 GB = 1 рубль
    </p>
    <p>
        «Банк игры» - это своеобразный резерв системы на выкуп мёда, он гарантирует пользователям автоматический выкуп мёда и получение стабильного дохода и отображается в онлайн режиме. Администрация проекта гарантирует выкуп мёда на сумму, которая есть в «Банке игры»!
    </p>
    <p class="title">
        С чего начать: 
    </p>
    <p>
        После Вашей регистрации, что бы начать игру, Вам будет необходимо «Золото», для покупки Вашего первого «Улея», «Склада» и «Транспорта». Стоимость минимального стартового «пакета», состоящего из «Улея», «Склада» и «Транспорта» с минимальными производственно техническими характеристиками, составляет 37 рублей или 3 700 GC. Золотые монеты – «GC» можно купить, перечислив соответствующую сумму одним из предложенных способов. Вы получите «Золотые монеты» по курсу 1 рубль = 100 GC. На полученные «Золотые монеты» Вы сможете приобретать и апгрейдить элементы Вашего производства, а так же приобретать дополнительные сервисы.
    </p>
    <p class="title">
        Партнёрская программа: 
    </p>
    <p>
        В игре «BEEPAS.RU» существует 3-х уровневая реферальная система. Её смысл заключается в том, что участники приглашают в игру по своей реферальной ссылке новых Участников и получают за это реферальные бонусы в виде «Золотых слитков» и в размере от 5 до 10 % суммы, внесённой приглашённым Участником в игру денег. 
    </p>
    <p>
        Реферальные бонусы Участники получают только за реально внесённые  приглашёнными ими Участниками деньги. 
    </p>
    <p>
        Размер реферального бонуса зависит от количества реферальных уровней, открытых у Участника. Максимальное количество реферальных уровней в игре «BEEPAS.RU» - 3 уровня, оно зависит от количества приглашённых Участником в игру новых активных Участников. 
    </p>
    <p>
        Активным Участник считается только после приобретения Игрового инвентаря («Золотых монет»). Все приглашённые Участником активные люди ставятся Участнику в 1-й реферальный уровень и, с каждой внесённой ими суммы, участник получает 5 %. 
    </p>
    <p>
        После того, как количество приглашённых активных игроков у Участника становится 10 человек, у него открывается 2-ой реферальный уровень, в котором находятся все активные игроки, приглашённые участниками из 1-го реферального уровня Участника. С момента открытия 2-го реферального уровня, Участник начинает получать реферальные бонусы с каждой внесённой рефералом 2-го уровня суммы, в размере 3 %.
    </p>
    <p>
        После того, как количество приглашённых активных игроков у Участника становится 100 человек, у него открывается 3-ий реферальный уровень, в котором находятся все активные игроки, приглашённые участниками из 2-го реферального уровня Участника. С момента открытия 3-го реферального уровня, Участник начинает получать реферальные бонусы с каждой внесённой рефералом 3-го уровня суммы, в размере 2 %.
    </p>

</div>
