@model dynamic

@{
    ViewBag.Title = "Твоя виртуальная пасека";
    Layout = "../Shared/Layout.cshtml";
}

<div id="page-main">
    @*<div class="title">
        Добро пожаловать на виртуальную пасеку "BEEPAS.RU"
    </div>
    <div class="text" style="margin: 0; text-align: center; margin: 15px 0px;">
        BEEPAS.RU будет приносить вам деньги все время, и даже в то время, когда Вы спите.
    </div>*@
    <div id="front-menu">
        <div class="upper">
        </div>
        <div id="info-cell">
        </div>
        <div id="how-cell">
        </div>
        <div id="play-cell">
        </div>
        <div class="lower">
        </div>
    </div>
    <div class="text" style="padding-top: 15px">
        BEEPAS.RU - это интересный и увлекателный симулятор, который позволит Вам создать свою виртуальную пасеку и завести пчел. Мед, приносимый пчелами, можно будет продавать на бирже и получать за это золотые слитки, которые Вы сможете моментально обменять на <span style="font-weight: bold; font-size: 16px">РЕАЛЬНЫЕ ДЕНЬГИ</span>, а партнерская программа позволит Вам приглашать новых игроков и получать <span style="font-weight: bold; font-size: 16px">10% от суммы их покупок</span>.
    </div>
</div>
