@model dynamic

@{
    ViewBag.Title = "Информация об игре";
    Layout = "../Shared/CommonLayout.cshtml";
}

<div class="static-text">
    <p class="title">
        Информация об игре 
    </p>
    <p>
        Экономическая онлайн игра BEEPAS.RU  - это Ваш стабильный и надежный доход!  С нами Вы узнаете, что такое получать деньги, играя. Вас ждёт интересный заработок в игре, общение, знакомства с интересными людьми и многое другое. Вы ни чем не рискуете и ничего не теряете! Ваш доход гарантирован на 100%.
    </p>
    <p class="title">
        О проекте: 
    </p>
    <p>
        Нашими специалистами полностью продуман проект, с дальнейшим развитием и обновлениями.
    </p>
    <p>
        Забудьте о поиске человека на покупку Вашего товара, теперь Вы всё это можете делать мгновенно и без усилий! Системный виртуальный рынок позволит мгновенно обменять мёд на «Золото»!
    </p>
    <p>
        Администрация проекта гарантирует максимально быстрые выплаты денег на Ваш кошелек! Любую сумму от 10 руб.! Согласно <a href="/rules">правилам игры</a>! Без дополнительных лимитов и ограничений! 
    </p>
    <p>
        Всё просто, так, как есть! Полностью прозрачная система, работающая для Вас! 
    </p>
    <p class="title">
        Гарантии: 
    </p>
    <p>
        В игре имеется «Банк» - резерв системы - гарант, который Администрация обязуется выплачивать! Он отображается в реальном времени, и Вы всегда в курсе, сколько денег в системе!
    </p>
    <p>
        Стабильный прирост резерва и продуманная система <a href="/economic">виртуальной экономики</a> всегда будет обеспечивать выплаты! И даже, если резерв системы станет равен нулю, Вы всё равно будете продолжать стабильно получать доход! Мёд будет накапливаться и дальше, и Вы будете получать золото, просто заявки на продажу мёда будут формироваться в виде очереди!
    </p>
    <p>
        В процессе игры дополнительно будут добавлены новые блоки, которые позволят стабильно пополнять резерв системы, что даст дополнительную гарантию участникам!
    </p>
    <p>
        Выплаты были, есть и будут стабильными всегда! Администрация даёт 100% гарантию обмена GB на деньги, полный выкуп! Без проблем! Без ожиданий! Без ограничений! 
    </p>
    <p class="title">
        Партнёрская программа: 
    </p>
    <p>
        В игре BEEPAS.RU  реализована уникальная «партнёрская программа», которая позволит вам привлекать людей и получать доход с 3-х реферальных уровней.
    </p>
    <p class="title">
        Безопасность: 
    </p>
    <p>
        Администрация использует продуманную и уникальную систему защиты всех средств и резервов. 
    </p>
    <p>
        Полностью исключены какие-либо моменты с утечкой оборотного капитала. 
    </p>
    <p>
        Скрипт сайта имеет огромное количество степеней защиты от взлома и проникновения. 
    </p>
    <p>
        Полный контроль всех денежных операций, архив. 
    </p>
    <p class="title">
        Обслуживание: 
    </p>
    <p>
        Службы Оперативной обработки платежей и  Технической поддержки работают для вас 24 часа в сутки и 7 дней в неделю и готовы ответить на любой интересующий вас вопрос по проекту и помочь решить любую возникшую проблему в игре. Без выходных! Без праздников! Без перерыва на обед! 
    </p>
    <p>
        Ваша виртуальная пасека в игре BEEPAS.RU - это Ваш путь к успеху и заработку! Начните прямо сейчас! Присоединяйтесь к системе, которая проверена уже тысячами пользователей! 
    </p>
</div>
