@model dynamic

@{
    ViewBag.Title = "Правила";
    Layout = "../Shared/CommonLayout.cshtml";
}

<div class="static-text">
    <p class="title">
        1. Общие положения
    </p>
    <p>
        1.1. Настоящее Пользовательское соглашение (далее «Соглашение») регламентирует порядок и условия предоставления услуг сайтом BEEPAS.RU , именуемым далее по тексту «Организатор», и адресовано физическому лицу, желающему получать услуги указанного сайта (далее «Участник».)
    </p>
    <p>
        1.2. Для начала получения услуг Участник явно, полно и безоговорочно принимает все условия настоящего Соглашения. Если Участник не согласен с каким-либо условием соглашения, Организатор предлагает Участнику отказаться от использования его услуг.
    </p>
    <p>
        1.3. Организатор и Участник признают порядок и форму заключения настоящего соглашения равнозначным по юридической силе соглашению, заключенному в письменной форме.
    </p>
    <p class="title">2.  Термины и Определения</p>
    <p>
        2.1. Игра - это вид деятельности, направленный на удовлетворение потребностей человека в развлечении, удовольствии, снятию напряжения, а также на развитие определенных навыков и умений в форме свободного самовыражения человека, не связанных с достижением утилитарных целей и доставляющих радость сами по себе. 
    </p>
    <p>
        2.2. Игровая площадка - программно-аппаратный комплекс физических устройств и программного обеспечения, расположенный в глобальной сети Интернет, предназначенный для организации проведения досуга и отдыха.
    </p>
    <p>
        2.3. Игра «BEEPAS.RU», виртуальная экономическая игровая площадка - обособленное и уникальное название игровой площадки, принадлежащей Организатору и находящейся по адресам в сети интернет www.beepas.ru, на которой Организатором предоставляются услуги участнику по организации его развлечения, досуга и отдыха в порядке и на условиях, изложенных в настоящем соглашении.
    </p>
    <p>
        2.4. Игровой инвентарь - условная игровая единица для участия в игре, именуемая «Золото», местом учета и хранения которой является игровой счет участника в электронном виде в формате учетной системы игровой площадки «BEEPAS.RU».
    </p>
    <p>
        2.5. Игровой счет - виртуальный счет участника игры, предоставляемый организатором каждому участнику на игровой площадке для учета игрового инвентаря (Золото).
    </p>
    <p class="title">
        3.  Предмет Соглашения
    </p>
    <p>
        3.1. Предметом настоящего Соглашения является предоставление организатором участнику услуг по организации досуга и отдыха в игре «BEEPAS.RU» в соответствии с условиями настоящего Соглашения. 
    </p>
    <p>
        3.2. Под услугами по организации досуга и отдыха в игре «BEEPAS.RU» понимаются следующие услуги: 
    </p>
    <p>
        - услуги по покупке-продаже игрового инвентаря (Золото);<br />
        - услуги по ведению учета движения по игровому счету;<br />
        - обеспечение мер по идентификации и безопасности участников;<br />
        - разработка программного обеспечения, интегрируемого в игровую площадку и внешние приложения;<br />
        - информационные и другие услуги, необходимые для организации игры и обслуживания участника в её процессе на площадке Организатора.
    </p>
    <p>
        3.3. Игра в целом, а равно любой ее элемент или любое сопряженное внешнее игровое приложение, созданы исключительно для развлечений. Участник признает, что все виды деятельности в игре на игровой площадке являются для него развлечением. Участник соглашается с тем, что в зависимости от характеристик его аккаунта, степень его участия в игре будет доступна в различной мере.
    </p>
    <p>
        3.4. Участник соглашается, что он несет персональную ответственность за все действия, произведенные с игровым инвентарем (Золото): покупкой, продажей, вводом и выводом, а также за игровые действия на игровой площадке: создание, покупку-продажу, операции со всеми игровыми элементами и другими игровыми атрибутами и объектами, используемыми для игрового процесса.
    </p>
    <p>
        3.5. Участник признает, что степень и возможность участия в развлечениях на сервере Игры являются главными качествами оказываемой ему услуги.
    </p>
    <p class="title">
        4.  Права и обязанности сторон.
    </p>
    <p>
        4.1 Участие в игре:
    </p>
    <p>
        4.1.1. Принимать участие в игре «BEEPAS.RU» могут только лица, достигшие гражданской дееспособности по законодательству страны своей резиденции. Все последствия неисполнения данного условия возлагаются на участника. Степень и способ участия в игре определяются самим участником, но не могут противоречить настоящему Соглашению и правилам игровой площадки.
    </p>
    <p>
        4.1.2. Участник полностью согласен, что организатор не может нести ответственность за убытки участника, которые возникли в связи с противоправными действиями третьих лиц, направленными на нарушение системы безопасности электронного оборудования и баз данных игры, либо вследствие независящих от организатора перебоев, приостановления или прекращения работы каналов и сетей связи, используемых для взаимодействия с участником, а также неправомерных или необоснованных действий платежных систем, а так же третьих лиц.
    </p>
    <p>
        4.2. Участник обязан:
    </p>
    <p>
        4.2.1. Правдиво сообщать сведения о себе, при регистрации, и, по первому требованию Организатора, предоставить достоверные данные о своей личности, позволяющие идентифицировать его как владельца аккаунта в игре;
    </p>
    <p>
        4.2.2. Уважительно и корректно относиться к другим Участникам игры, а так же к Организатору, его партнерам и сотрудникам, не создавать помехи в работе последних;
    </p>
    <p>
        4.2.3. Самостоятельно заботиться о необходимых мерах компьютерной и иной безопасности, хранить в секрете и не передавать другому лицу или другому участнику свои идентификационные данные: логин, пароль аккаунта и др., не допускать несанкционированного доступа к почтовому ящику, указанному в профиле аккаунта участника. Весь риск неблагоприятных последствий разглашения этих данных несет участник, так как участник согласен с тем, что система информационной безопасности игровой площадки исключает передачу логина, пароля и идентификационной информации аккаунта участника третьим лицам;
    </p>
    <p>
        4.2.4. Самостоятельно нести персональную ответственность за ведение своих финансовых сделок и операций, Организатор не несет ответственности за совершаемые финансовые действия между игроками по передаче игрового инвентаря и игровой валюты, а равно иных игровых атрибутов.
    </p>
    <p>
        4.2.5. О своих претензиях и жалобах первым уведомлять организатора в письменной форме через страницу «Поддержка».
    </p>
    <p>
        4.2.6. Регулярно самостоятельно знакомиться с новостями игры, а также с изменениями в настоящем Соглашении и в правилах игры на игровой площадке.
    </p>
    <p>
        4.3. Участнику запрещается:
    </p>
    <p>
        4.3.1. Использовать игру для совершения каких-либо действий, противоречащих международному законодательству и законодательству страны — резиденции Участника;
    </p>
    <p>
        4.3.2. Использовать недокументированные особенности (баги) и ошибки программного обеспечения игры и незамедлительно сообщать Организатору о них, а так же о лицах, использующих эти ошибки;
    </p>
    <p>
        4.3.3. Использовать внешние программы любого рода, для получения преимуществ в игре;
    </p>
    <p>
        4.3.4. Использовать для рекламы своей партнерской ссылки, а равно ресурса, ее содержащего, почтовые рассылки и иного вида сообщения лицам, не выражавшим согласия их получать (спам);
    </p>
    <p>
        4.3.5. Ограничивать доступ других Участников или других лиц к Игре; 
    </p>
    <p>
        4.3.6. Обманывать Организатора и других Участников игры;
    </p>
    <p>
        4.3.7. Использовать ненормативную лексику и оскорбления в любой форме;
    </p>
    <p>
        4.3.8. Порочить действия других Участников игры и Администрации;
    </p>
    <p>
        4.3.9. Угрожать насилием и физической расправой кому бы то ни было;
    </p>
    <p>
        4.3.10. Распространять материалы пропагандирующие неприятие или ненависть к любой расе, религии, культуре, нации, народу, языку, политике, государству, идеологии или общественному движению;
    </p>
    <p>
        4.3.11. Рекламировать порнографию, наркотики и ресурсы, содержащие подобную информацию;
    </p>
    <p>
        4.3.12. Использовать действия, терминологию или жаргон для завуалирования нарушения обязанностей участника;
    </p>
    <p>
        4.4. Организатор обязан:
    </p>
    <p>
        4.4.1. Обеспечить без взимания платы доступ Участника на игровую площадку и к участию в игре, при этом, Участник самостоятельно за свой счет оплачивает доступ в сеть Интернет и несет иные расходы, связанные с данным действием.
    </p>
    <p>
        4.4.2. Вести учет игрового инвентаря (Золото) на игровом счете Участника. 
    </p>
    <p>
        4.4.3. Регулярно совершенствовать аппаратно-программный комплекс, но это не гарантирует, что программное обеспечение Игры не содержит ошибок, а аппаратная часть не выйдет из рабочих параметров и будет функционировать бесперебойно.
    </p>
    <p>
        4.4.4. Соблюдать режим конфиденциальности в отношении персональных данных Участника в порядке п. 6 настоящего соглашения.
    </p>
    <p>
        4.4.5. Нести финансовые обязательства по обеспечению эквивалентной курсовой стоимости игрового инвентаря (Золото) на игровом счете участника. Курсовая стоимость игрового инвентаря (Золото) составляет: 1 GB (Золотой слиток) = 1 рубль Российской Федерации.
    </p>
    <p>
        4.4.6. Любому лицу, законно владеющему игровым инвентарем GB – Golden bar (Золотой слиток), гарантируется оплата денежной суммы, обусловленной его курсовой стоимостью, за вычетом затрат на осуществление данной операции. 
    </p>
    <p>
        4.5. Организатор имеет право:
    </p>
    <p>
        4.5.1. Предоставлять участнику дополнительные платные услуги, перечень которых, а также порядок и условия пользования которыми определяются настоящим соглашением, правилами игровой площадки и иными объявлениями организатора. При этом организатор вправе в любое время изменить количество и объем предлагаемых платных услуг, их стоимость, название, вид и эффект от использования.
    </p>
    <p>
        4.5.2. Приостановить действие настоящего соглашения и отключить Участника от участия в игре на время проведения расследования по подозрению его (Участника) в нарушении настоящего Соглашения и правил игровой площадки.
    </p>
    <p>
        4.5.3. Исключить Участника из игры, если установит, что Участник нарушил настоящее соглашение или правила, установленные на игровой площадке, в порядке 5.10 настоящего соглашения.
    </p>
    <p>
        4.5.4. частично или полностью прерывать предоставление услуг без предупреждения участника при проведении реконструкции, ремонта и профилактических работ на площадке.
    </p>
    <p class="title">
        5. Гарантии и ответственность.
    </p>
    <p>
        5.1. Организатор не несет ответственности за неправильное функционирование программного обеспечения игры. Участник использует программное обеспечение по принципу «КАК ЕСТЬ» (“AS IS”). Если организатор установит, что при игре возник сбой (ошибка) в работе площадки, то результаты, которые состоялись во время некорректной работы программного обеспечения, могут быть аннулированы или скорректированы по усмотрению организатора. Участник согласен не апеллировать к Организатору по поводу качества, количества, порядка и сроков предоставляемых ему игровых возможностей и услуг.
    </p>
    <p>
        5.2. Организатор не гарантирует постоянный и непрерывный доступ к игровой площадке и его услугам в случае возникновения технических неполадок и/или непредвиденных обстоятельств, в числе которых: неполноценная работа или не функционирование интернет–провайдеров, серверов информации, банковских и платёжных систем, а также неправомерных действий третьих лиц. Организатор приложит все усилия по недопущению сбоев, но не несет ответственности за временные технические сбои и перерывы в работе Игры, вне зависимости от причин таких сбоев.
    </p>
    <p>
        5.3. Организатор не несет ответственности за убытки, понесенные в результате использования или не использования Участником информации об Игре, игровых правил и самой Игры и не несет ответственности за убытки или иной вред, возникший у Участника в связи с его неквалифицированными действиями и незнанием игровых правил или его ошибках в расчетах;
    </p>
    <p>
        5.4. Участник согласен с тем, что использует игровую площадку по своей доброй воле и на свой собственный риск. Организатор не дает Участнику никакой гарантии того, что он извлечет выгоду или пользу от участия в игре. Степень участия в Игре определяется сами Участником.
    </p>
    <p>
        5.5. Организатор не несет ответственности перед Участником за действия других Участников.
    </p>
    <p>
        5.6. В случае возникновения споров и разногласий на игровой площадке, решение организатора является окончательным, и Участник с ним полностью согласен. Все споры и разногласия, возникающие из настоящего Соглашения или в связи с ним, подлежат разрешению путем переговоров. В случае невозможности достижения согласия путем переговоров, споры, разногласия и требования, возникающие из настоящего Соглашения, подлежат разрешению в соответствии с действующим законодательством.
    </p>
    <p>
        5.7. Организатор не несет налогового бремени за Участника. Участник обязуется самостоятельно включать возможные полученные доходы в налоговую декларацию в соответствии с законодательством страны своей резиденции.
    </p>
    <p>
        5.8. Организатор может вносить изменения в настоящее Соглашение, правила игровой площадки и другие документы в одностороннем порядке. В случае внесения изменений в документы Организатор размещает последние версии документов на сайте игровой площадки. Все изменения вступают в силу с момента размещения. Участник имеет право расторгнуть настоящее Соглашение в течение 3 дней, если он не согласен с внесенными изменениями. В таком случае расторжение Соглашения производится согласно п. 5.9 настоящего Соглашения. На Участника возлагается обязанность регулярно посещать официальный сайт Игры с целью ознакомления с официальными документами и новостями.
    </p>
    <p>
        5.9. Участник имеет право расторгнуть настоящее Соглашение в одностороннем порядке без сохранения игрового аккаунта. При этом все расходы, связанные с участием в игре, участнику не компенсируются и не возвращаются. Игровой инвентарь (Золото), находящиеся на игровом счете участника, подлежат возврату в порядке п. 4.4.5. настоящего Соглашения.
    </p>
    <p>
        5.10. Организатор имеет право расторгнуть настоящее Соглашение в одностороннем порядке, а также совершать иные действия, ограничивающие возможности в Игре, в отношении Участника или группы Участников, являющихся соучастниками выявленных нарушений условий настоящего Соглашения. При этом все игровые атрибуты, игровой инвентарь (Золото) находящиеся в аккаунте и на игровом счете Участника или группы Участников, а равно все расходы возврату не подлежат и не компенсируются.
    </p>
    <p>
        5.11. Организатор и Участник несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по настоящему Соглашению.
    </p>
    <p>
        5.12. Организатор и Участник освобождаются от ответственности в случае возникновения обстоятельств непреодолимой силы (форс-мажорных обстоятельств), к числу которых относятся, но перечнем не ограничиваются: стихийные бедствия, войны, огонь (пожары), наводнения, взрывы, терроризм, бунты, гражданские волнения, акты правительственной или регулирующей власти, хакерские атаки, отсутствия, или сбои работы энергоснабжения, поставщиков Интернет услуг, сетей связи или других систем, сетей и услуг. Сторона, у которой возникли такие обстоятельства, должна в разумные сроки и доступным способом оповестить о таких обстоятельствах другую сторону.
    </p>
    <p class="title">
        6. Конфиденциальность.
    </p>
    <p>
        6.1. Условие конфиденциальности распространяется на информацию, которую Организатор может получить об Участнике во время его пребывания на сайте Игры и которая может быть соотнесена с данным конкретным пользователем. Организатор автоматически получает и записывает в серверные логи техническую информацию из вашего браузера: IP адрес, адрес запрашиваемой страницы и т.д. Организатор может записывать «cookies» на компьютер пользователя и впоследствии использовать их. Организатор гарантирует, что данные, сообщенные участником при регистрации в Игре, будут использоваться Организатором только внутри Игры.
    </p>
    <p>
        6.2. Организатор вправе передать персональную информацию об Участнике третьим лицам только в случаях, если:
    </p>
    <p>
        6.2.1. Участник изъявил желание раскрыть эту информацию;
    </p>
    <p>
        6.2.2. Без этого Участник не может воспользоваться желаемым продуктом или услугой, в частности - информация об именах (логинах), игровых атрибутах - может быть доступна другим участникам;
    </p>
    <p>
        6.2.3. Этого требует международное законодательство и/или органы власти с соблюдением законной процедуры;
    </p>
    <p>
        6.2.4. Участник нарушает настоящее Cоглашение и правила игровой площадки.
    </p>
    <p class="title">
        7.  Иные положения.
    </p>
    <p>
        7.1. Недействительность части или пункта (подпункта) настоящего соглашения не влечет недействительности всех остальных частей и пунктов (подпунктов).
    </p>
    <p>
        7.2. Срок действия настоящего Соглашения устанавливается на весь период действия игровой площадки, то есть на неопределенный срок, и не предполагает срока окончания данного соглашения.
    </p>
    <p>
        7.3. Регистрируясь и находясь на игровой площадке, участник признает, что он прочитал, понял и полностью принимает условия настоящего Соглашения, а также правил игры и иных документов, размещённых Организатором на сайте www.beepas.ru.
    </p>

</div>
