@model dynamic

@{
    ViewBag.Title = "Виртуальная Экономика";
    Layout = "../Shared/CommonLayout.cshtml";
}

<div class="static-text">
    <p class="title">
        I. ВАЛЮТА В ИГРЕ
    </p>
    <p>
        Основной валютой игры BEEPAS.RU является «Золото», которое бывает 2-х  видов:
    </p>
    <p>
        1. <b>«GC» – «Golden Coin’s»</b>  – «Золотые монеты» - валюта игры, которая используется для осуществления покупок в игре.
    </p>
    <p>
        2. <b>«GB» – «Golden Bar’s»</b>  – «Золотые слитки» - валюта игры, которая используется для вывода средств из игры.
    </p>
    <p>
        «GC»  можно купить  за Российские рубли по курсу:  <b>1 рубль = 100 GC</b>, а так же получить на бирже, обменяв на них мёд  по курсу:  <b>12 кг. мёда = 1GC</b> либо, обменяв на них «GB» по курсу:  <b>1 GB  = 100 GC</b>;
    </p>
    <p>
        «GB» можно получить только на бирже обменяв на них мёд  по курсу:  <b>1200 кг. мёда = 1 GB</b>
    </p>
    <p class="title">
        II. РАСПРЕДЕЛЕНИЕ ВЫРУЧКИ
    </p>
    <p>
        Деньги, потраченные Участниками игры на покупку игрового инвентаря («Золотых монет») распределяются следующим образом:
    </p>
    <p>
        - 70 % - Банк игры (Резерв системы)<br />
        - от 5 до 10 % реферальные  бонусы игрокам (от чего зависит величина процентов, смотри в п. III)<br />
        - от 20 до 25 % доход организатора (зависит от величины реферальных отчислений)
    </p>
    <p class="title">
        III. РЕФЕРАЛЬНАЯ СИСТЕМА И БОНУСЫ
    </p>
    <p>
        В игре «BEEPAS.RU» существует 3-х уровневая реферальная система. Её смысл заключается в том, что участники приглашают в игру по своей реферальной ссылке новых Участников и получают за это реферальные бонусы в виде «Золотых слитков» и в размере от 5 до 10 % суммы, внесённой приглашённым Участником в игру денег.
    </p>
    <p>
        Реферальные бонусы Участники получают только за реально внесённые  приглашёнными ими Участниками деньги.
    </p>
    <p>
        Размер реферального бонуса зависит от количества реферальных уровней, открытых у Участника. Максимальное количество реферальных уровней в игре «BEEPAS.RU» - 3 уровня, оно зависит от количества приглашённых Участником в игру новых активных Участников.
    </p>
    <p>
        Активным Участник считается только после приобретения Игрового инвентаря («Золотых монет»). Все приглашённые Участником активные люди ставятся Участнику в 1-й реферальный уровень и, с каждой внесённой ими суммы, участник получает 5 %.
    </p>
    <p>
        После того, как количество приглашённых активных игроков у Участника становится 10 человек, у него открывается 2-ой реферальный уровень, в котором находятся все активные игроки, приглашённые участниками из 1-го реферального уровня Участника. С момента открытия 2-го реферального уровня, Участник начинает получать реферальные бонусы с каждой внесённой рефералом 2-го уровня суммы, в размере 3 %.
    </p>
    <p>
        После того, как количество приглашённых активных игроков у Участника становится 100 человек, у него открывается 3-ий реферальный уровень, в котором находятся все активные игроки, приглашённые участниками из 2-го реферального уровня Участника. С момента открытия 3-го реферального уровня, Участник начинает получать реферальные бонусы с каждой внесённой рефералом 3-го уровня суммы, в размере 2 %.
    </p>
    <p class="title">
        IV. ПРАВИЛА ЭКОНОМИЧЕСКОЙ БЕЗОПАСНОСТИ ИГРЫ
    </p>
    <p>
        1. Не допускается единовременный вывод одним Участником средств в размере более 10% Банка игры.
    </p>
    <p>
        2. При единовременном выводе одним Участником средств в размере более 0,1 % Банка игры на Участника накладываются следующие ограничения и санкции:
    </p>
    <p>
        а) с игрока взимается увеличенный налог за обналичивание:
    </p>
    <p>
        - при сумме вывода 0,1- 0,99% Банка игры - 20%;<br />
        - при сумме 1-10% Банка игры - 50%;                
        <br />
        б) временное ограничение по возможности вывода средств:
    </p>
    <p>
        - при сумме вывода 0,1- 0,99% Банка игры - 3 дня;<br />
        - при сумме 1-10% Банка игры - 30 дней;
    </p>
    <p class="title">
        V. ИНФЛЯЦИЯ В ИГРЕ
    </p>
    <p>
        Для стабильного существования системы, а так же справедливости и равенства среди Участников, в игре существует следующее положение вещей:
    </p>
    <p>
        1 GB  = 100 GC  = 1200 кг. мёда, когда справедливо "основное неравенство":
    </p>
    <p>
        <b>∑Мёда в системе (в пересчёте на GB по действующему курсу) ˂ GB (Банк) - ∑GB (У игроков)</b>
    </p>
    <p>
        Стоимость GВ и GC начинает расти когда:
    </p>
    <p>
        <b>∑Мёда в системе (в пересчёта на GB по действующему курсу)) ≥  GB (Банк) - ∑GB (У игроков)</b>
    </p>
    <p>
        При росте стоимости G, корректировка происходит каждые 5 минут шагом по «+ 10 кг. мёда за 1 GB» до тех пор, пока снова не стане справедливо "основное неравенство".
    </p>
    <p>
        Если в течение 60 минут после последней корректировки повышением, стоимость GВ и GC не начала расти повторно, она начинает падать и стремиться к стоимости:  1 GB  =  100 GC  =  1200 кг. мёда.
    </p>
    <p>
        При падении стоимости G, корректировка происходит каждые 5 минут шагом по «- 1 кг. мёда за 1 GB»     до тех пор, пока остаётся справедливым "основное неравенство" но не ниже 1200 кг. мёда  за 1 GB
    </p>
    <p class="title">
        VI. ПРОЦЕНТЫ ЗА ОСУЩЕСТВЛЕНИЕ ОПЕРАЦИЙ В ИГРЕ
    </p>
    <p>
        Так же для стабильного существования системы, в игре предусмотрены следующие комиссии за совершение операций, данные комиссии не идут в доход Организатору игры, они используются для стабилизации соотношения Банка игры и массы мёда в игре, что обеспечит стабильный курс стоимости Золотых слитков
    </p>
    <p>
        - за перевод мёда в GC или GB - 3%<br />
        - за перевод GB в GC - 2%<br />
        - за обналичивание GB - 10%
    </p>
</div>
