@model dynamic

@{
    ViewBag.Title = "Недостаточно денег на счету";
    Layout = "../Shared/CommonLayout.cshtml";
}

<div class="info">
    На вашем личном счету недостаточно золотых монет для выполнения этой операции. Вы можете <a href="/account/add-balance">пополнить ваш личный счет</a>.
</div>