@model dynamic

@{
    ViewBag.Title = "Неправильные авторизационные данные";
    Layout = "../Shared/CommonLayout.cshtml";
}

<div style="text-align: center; line-height: 1.5">
    Неправильно указан логин или пароль. Пожалуйста, попробуйте еще раз.
</div>