@{
    Layout = "~/Views/Shared/CommonLayout.cshtml";
}

<div id="page-apiary">
    @RenderBody()
</div>
<script type='text/javascript'>
    $(document).ready(function () {
        $("#apiary-menu-item").addClass("active");
    });
</script>
