@model IList<Beepas.Web.Classes.Entities.Warehouse>

@{
    ViewBag.Title = "Производство";
    Layout = "ApiaryLayout.cshtml";
}

@if (Model.Count > 0)
{
    foreach (var warehouse in Model)
    {
        @Html.Partial("Warehouse", warehouse)
    }
}
else
{
    <p align="center">У вас нет складов. Вы можете купить себе склад для хранения собранного меда в <a href="/account/shop">магазине</a></p>
}

<script type="text/javascript">
    $("#page-title").append("<div class='current-section-title'>Склады</div>")
</script>